* {
  background-color: lightgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: 800px;
  width: auto;
}

button,
button a {
  background-color: lightpink;
  color: black;
  text-decoration: none;
}
